<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/detail.css">

</head>

<body>
    <header>
        <div>
            <div class="logo">
                <img class="logo-imagen" src="/images/logo_products.png" alt="logo">
                <div class="banderas-inicio">
                    <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                    <a href="/products"><img src="/images/uk.png" alt="EN"></a>
                </div>
            </div>
            <nav>
                <ul class="inicio">
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Home</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-house"></i></a></button>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Sign up</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-pen-clip"></i></a></button>
                            <div class="dropdown-content">
                                <div class="login">
                                    <form id="login" method="get" action="login.php">
                                        <label><b>E-Mail
                                            </b>
                                        </label>
                                        <input type="text" name="Email" id="Email" placeholder="Email">
                                        <br><br>
                                        <label><b>User Name
                                            </b>
                                        </label>
                                        <input type="text" name="Uname" id="Uname" placeholder="Username">
                                        <br><br>
                                        <label><b>Password
                                            </b>
                                        </label>
                                        <input type="Password" name="Pass" id="Pass" placeholder="Password">
                                        <br><br>
                                        <input type="button" name="log" id="log" value="Log In Here">
                                        <br><br>
                                        <input type="checkbox" id="check">
                                        <span>Remember me</span>
                                        <br><br>
                                        <a href="#">Forgot Password</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Log in</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-laptop"></i></a></button>
                            <div class="dropdown-content">
                                <div class="login">
                                    <form id="login" method="get" action="login.php">
                                        <label><b>User Name
                                            </b>
                                        </label>
                                        <input type="text" name="Uname" id="Uname" placeholder="Username">
                                        <br><br>
                                        <label><b>Password
                                            </b>
                                        </label>
                                        <input type="Password" name="Pass" id="Pass" placeholder="Password">
                                        <br><br>
                                        <input type="button" name="log" id="log" value="Log In Here">
                                        <br><br>
                                        <input type="checkbox" id="check">
                                        <span>Remember me</span>
                                        <br><br>
                                        <a href="#">Forgot Password</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Cart</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-truck"></i></a></button>
                        </div>
                    </li>
                </ul>
                <form class="barra">
                    <input type="search" name="barra-busqueda" placeholder="Search for your favorite">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </nav>
            <div class="banderas">
                <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                <a href="/products"><img src="/images/uk.png" alt="EN"></a>
            </div>
            <ul class="menu">
                <li>
                    <a class="icono" href="#">
                        <i class="fa-solid fa-bars"></i>
                    </a>

                    <ul class="desplegable">
                        <li><a href="">Company Information</a></li>
                        <li><a href="">Social Media</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="card-wrapper">
            <div class="card">
                <!-- card left -->
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            <img src="<%=productoDetalle.picture%>" alt="producto">
                            <img src="<%=productoDetalle.picture%>" alt="producto">
                            <img src="<%=productoDetalle.picture%>" alt="producto">
                            <img src="<%=productoDetalle.picture%>" alt="producto">
                        </div>
                    </div>
                    <div class="img-select">
                        <div class="img-item">
                            <a href="#" data-id="1">
                                <img src="<%=productoDetalle.picture%>" alt="producto">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="2">
                                <img src="<%=productoDetalle.picture%>" alt="producto">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="3">
                                <img src="<%=productoDetalle.picture%>" alt="producto">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="4">
                                <img src="<%=productoDetalle.picture%>" alt="producto">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- cart right -->
                <div class="product-content">
                    <h2 class="product-title">
                        <%=productoDetalle.model%>
                    </h2>
                    <a href="#" class="product-link">8Technology</a>
                    <div class="product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <span>4.27(21)</span>
                    </div>
                    <div class="product-price">
                        <p class="last-price">Discount: <span>15%</span></p>
                        <p class="new-price">Current Price: <span><%=productoDetalle.price%></span></p>
                    </div>
                    <div class="product-detail">
                        <h2>About this Item: </h2>
                        <p><%=productoDetalle.details%></p>
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> Color: <span>All Color</span></li>
                            <li><i class="fa-solid fa-circle-check"></i> Avalible: <span>In stock</span></li>
                            <li><i class="fa-solid fa-circle-check"></i> Category: <span><%=productoDetalle.type%>"</span></li>
                            <li><i class="fa-solid fa-circle-check"></i> Shipping Area: <span></span>All over the world
                            </li>
                            <li><i class="fa-solid fa-circle-check"></i> Shiping Fee: <span>Free</span></li>
                        </ul>
                    </div>
                    <div class="purchase-info">
                        <input type="number" min="0" value="1">
                        <button type="button" class="btn">
                            Add to cart
                        </button>
                        <button type="button" class="btn">Compare
                        </button>
                    </div>
                    <div class="social-links">
                        <p>Share At:</p>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="footer">
            <div id="nav-footer">
                <!-- Inicio de columna -->
                <div class="column">
                    <div class="content">
                        <h4>8technology | Contacto</h4>
                        <p>Envianos tu mensaje o consulta por medio de nuestro formulario de contacto.</p>
                        <a href="" class="button-footer">CONTACTANOS</a>
                    </div>
                </div>
                <!-- Fin de columna -->
                <!-- Inicio de columna -->
                <div class="column">
                    <div class="content">
                        <h4>8technology | STAFF</h4>
                        <p>Si estás interesado en formar parte de nuestro Staff envianos tus datos y CV</p>
                        <a href="" target="_blank" class="button-footer">ENVIAR</a>
                    </div>
                </div>
                <!-- Fin de la columna -->
            </div>
            <div id="nav-footer2">
                <div class="content">
                    <h4>Necesitás Ayuda</h4>
                    <a href="">Cómo realizar tu pedido</a>
                    <a href="">Términos y condiciones</a>
                    <a href="">Pagos y envíos</a>
                    <a href="">Preguntas frecuentes</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>